<div class='profile-listing'>
  <h2 class="profile-name"> <%= link_to project.name, project, :class => 'project-name' %> </h2>
  <p class='project-summary'>
    <span class='label'>Summary</span>
    <%= project.summary %>
  </p>
  <p class='project-tags'>
    <span class='label'>Tags</span>
    <%= project.tags %>
  </p>
</div>
