
<div class="profile-links">
<% if (member_signed_in? && (current_member.id == @profile.member_id)) %>
  <%= link_to 'Edit', edit_profile_path(@profile), %> | 
<% end %>
  <%= 
    link_to 'Projects', '/members/' + @profile.member_id.to_s
   %>
</div>
