
/**
 * SMACSS-style base.
 */

body {
  background: #ccc url('http://subtlepatterns.com/patterns/square_bg.png');
  color: #222;
/*  max-width: 940;*/
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  /* font-family: "minion-pro-1", "minion-pro-2", Georgia, serif; */
  margin-bottom: 55px;
}
