form.edit_project {
  color: #f67;
  color: #000;
  /*
    margin-left: 100px;
    width: 600px;
  */
}

form label {
  font-weight: bold;
  font-style: italic;
}

textarea#project_description {
  width: auto;
  height: auto;
}

textarea#project_summary {
  width: auto;
  height: auto;
}

textarea#project_requiredskills {
  width: auto;
  height: auto;
}

time.start-date {
  color: #333;
}

time.end-date {
  color: #333;
}
