/**
 * custom3/pages.scss which currently controls layout
 * on the front page sales modules. Probably needs
 * renaming in the future.
 */
.pages {
  background-color: #fff;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 17px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.offset-up {
  margin-top: -200px;
}

.google {
  margin-right: 0px;
  padding-right: 0px;
  margin-left: 0px;
  padding-left: 5px;
}
