.project {
  padding: 0 1em;
  margin: 0;
}

.project h3 {
  width: 180px;
  font-weight: 900;
}

.project .inner {
  width: 700px;
  border-left: 1px dotted #ccc;
  padding: 0 0 0 1.4em;
  margin: 0 0 1em 0;
}

/*
div.project {
  margin-top: 15px;
  padding-top: 10px;
}

div.project > div {
  margin: 15px;
}
*/
/**
 * Project pages
 */
/*
div > span.label {}
div.project {}
div.project > div {}
*/
