.row.project {
  padding: inherit 0px;
  background-color: #efefef;
}

.project {
  padding: 5px 0;
  margin: 10px 0px;
}

.project .listing {
  padding: 0 1em;
  margin: 0px;
}

.project h3 {
  font-weight: 900;
}

.project .gravatar {
  float: right;
  text-align: center;
}

.project .inner {
  width: 700px;
  border-left: 1px dotted #ccc;
  padding: 0 0 0 1.4em;
  margin: 0 0 1em 0;
}

/*
div.project {
  margin-top: 15px;
  padding-top: 10px;
}

div.project > div {
  margin: 15px;
}
*/
/**
 * Project pages
 */
/*
div > span.label {}
div.project {}
div.project > div {}
*/
