
/**
 * custom3/sales.scss
 */

.buybox {
  background-color: #f23;
  padding: 0px;
}

.readmore h3 {
  color: #2ff;
  background-color: #2aa;
  border-bottom-style: dashed ; 
  border-bottom-color: yellow; 
  border-bottom-width: 5px;
  border-top-style: dashed ; 
  border-top-color: yellow; 
  border-top-width: 5px;
}

.signup {
  background-color: #2f3;
  padding: 0px;  
}

.plans {
  background-color: #23f;
  padding: 0px;  
}

.readmore {
  background-color: #f23;
  padding: 0px;  
}
