
<% title "Start curating your career, now!" %>

  <div class="row" id="signupfree">
    <div class="five columns signupfree centered">
      <%= 
      render 'sales/signupfreebox' 
      %>
      <%= 
      render :partial => "devise/shared/links" 
      %>
    </div>
  </div>
