
  <div id="content_area" class="full_width">
    <div class="page">
      <div id="content" class="cf">
         <%= yield %>
         BLAH BLAH BLAH
from pages/content.
      </div>
    </div>
  </div>


<div class="container">
  <div class="row pages">
    <div class="eight columns centered">
      <%= yield %>
    </div><!-- columns -->
  </div><!-- row -->
</div><!-- container -->
