- title "About"
%h2
  About #{@site_name}
%p
  Designers, artists and graphics professionals
  have
  = succeed "," do
    %em portfolios
%p
  The rest of us, not so much.
%p But why not?
%p
  Why shouldn't the rest of us who do so much
  of the heavy lifting get the same see-at-a-glance
  benefits as artists and designers?
%h2 Your Portfolio, a multi-dimensional resume
%p
  As it turns, artists and designers also have resumes
  listing out the what and when. Their portfolios
  provide
  %em context
  for their resumes.
%p
  As a hard working professional, you now have this
  opportunity.
%ul
  %li Software engineers: Description of a Project.
  %li Marketing professionals: Show how your client benefitted.
  %li Project managers: What got done? For who, and how?
  %li Consultants: Get that case study posted.
  %li Bloggers: It's a lot of work. Summarize it for your portfolio.
