<% title "About Portfolio Project" %>

<h2>About <%= @site_name %></h2>

<p>Designers, artists and graphics professionals 
  have <em>portfolios</em>, a see-at-a-glance
  record of what they do and have done.
</p>

<p>
  The rest of us, not so much.
</p>

<p>But why not?</p>

<p>
  Why shouldn't the rest of us who do so much
  of the heavy lifting get the same see-at-a-glance
  benefits as artists and designers?
</p>

<h2>Your Portfolio, a multi-dimensional resume</h2>

<p>As it turns, artists and designers also have resumes
listing out the what and when. Their portfolios
provide <em>context</em> for their resumes.
</p>

<p>
  As a hard working professional, you now have this
  opportunity. 
</p>
  
<uL>

  <li>Software engineers: Description of a Project.</li>
  <li>Marketing professionals: Show how your client benefitted.</li>
  <li>Project managers: What got done? For who, and how?</li>
  <li>Consultants: Get that case study posted.</li>
  <li>Bloggers: It's a lot of work. Summarize it for your portfolio.</li>

</ul>  



