<% title "Frequently Asked Questions" %>


<div id="faq">

<h2>Frequently Asked Questions</h2>


<div>
<h3 id="who-needs">Who needs a portfolio?</h3>

  <p>
    We say "Who doesn't need a portfolio?"
  </p>
  
  <p>
    Your portfolio allows you to go into much greater
    detail about your accomplishments than is appropriate
    on resumes.
  </p>
</div>


<div>  
<h3 id="why-not-free">Why isn't Portfolio Project free?'</h3>

Three main reasons Portfolio Project isn't free:
<ol>
  <li>
    Requiring even a modest payment increases authenticity.
    While it's easy to pose anonymously, payment information
    (which is never kept on Portfolio Project) ensures a real
    person was involved, not some spamming robot.
  </li>
  <li>
    Software costs money to create. Somebody has to
    pay for it. For members or users of free web applications,
    you - your attention - is the product for advertisers. When
    <em>you</em> are paying for the service, <em>you</em> are
    the customer.
  </li>
  <li>
    Charging even a nominal fee drastically reduces spam!
    Spammers can sign up for free web application accounts using web
    robots. Charging a token fee eliminates free riding 
    parasites.
    Spam is extremely expensive burden to manage, and it
    exists because the spammers do not bear the costs of
    their behavior. Somebody is paying the electric bill,
    the hosting services charge, routing and name serving
    costs, they are simply parasites.
  </li>
</ol>
</div>


<div>
<h3 id="newsletter span-8 last">I'd like more information...</h3>

You bet! Sign up for the newsletter:
<%= render 'sales/frontpage-form'%>
</div>
</div><!-- faq -->

