
<% title "Newsletter" %>


<div id='newsletter-wrapper'>
  
<h1>Please send more information...</h1>



<p>
  Not sure how the Portfolio Project benefits you? 
  No problem. We have a spam-free newsletter for you,
  containing tips and tricks for presenting your
  accomplishments in the best possible light.
</p>  


<p>
  Sign up for the Portfolio Project newsletter:
</p>
<%= render 'sales/frontpage-form'%>


</div>
