- title "Newsletter"
#newsletter-wrapper
  %h1 Please send more information...
  %p
    Not sure how the Portfolio Project benefits you?
    No problem. We have a spam-free newsletter for you,
    containing tips and tricks for presenting your
    accomplishments in the best possible light.
  %p
    Sign up for the Portfolio Project newsletter:
  = render 'sales/frontpage-form'
