<h1>Pages#privacy</h1>
<p>Find me in app/views/pages/privacy.html.erb</p>


<h4>The Website In A Weekend Privacy Policy</h4>

Website In A Weekend values your privacy very highly. 
Be assured that we will do everything necessary to 
maintain your privacy. You deserve our assurance.

<h4>What information do you collect and how do you collect it?</h4>

Website In A Weekend only contacts individuals, 
for reasons other than appointment scheduling, who 
specifically request that we do so or in the event 
that they have signed up to receive any free newsletters 
or have purchased one of our products. 

Website In A Weekend may collect personally-identifying 
information from our users during online registration 
and online purchasing. Generally, this information 
includes your name and e-mail address which are required 
for registration to receive our free newsletters, and your 
name, postal address, and credit card information when 
purchasing one of our products. All of this information 
is provided to us by you.

<h4>How do we use this information?</h4>

This information is used for internal marketing 
purposes only. Website In A Weekend promises to never 
sell, exchange, or release your personal information. 
Your information is not shared with any other third 
party or company outside of what is necessary for 
billing and shipping purposes.

<h4>With respect to cookies…</h4>

As does nearly all modern web server technology, 
our server use may use cookies to record session 
information, such as items that consumers add to 
their shopping cart, customize Web page content based 
on visitors’ browser type or other information that 
the visitor sends. In addition, cookies are occasionally 
set by the web server to provide more efficient server 
response. Website In A Weekend does not use information 
provided by customer and stored in cookies for any reason.

<h4>What information do you maintain?</h4>

In short, very little. However, upon request we provide 
site visitors with access to all information [including 
proprietary information] that we do maintain about them. 
Customers are welcome to request this information by e-mail, 
or by asking in person on their next visit. Please use 
the contact form when contacting by email.


