- title "Subscribe"
%h2 Thank you from The Portfolio Project
%p
  Thank you for subscribing to the Portfolio Project.
  We send out a newsletter about once a month. We read
  all email correspondence, so feel encouraged to reply,
  comment or ask questions about the Project.
