
<% title 'Edit ' + @project.name %>
<h2>Editing project</h2>


<div class="row">
  <div class="twelve columns">
    <%= render 'form' %>
  </div>
</div>

<%= link_to 'Show', @project %> |
<%= link_to 'Back', projects_path %>
