
<% title('Add your new Project or Accomplishment') %>

<h1>New project</h1>

<div class="row">
  <div class="twelve columns">
    <%= render 'form' %>
  </div>
</div>
<%= link_to 'Back', projects_path %>
