
<% title('Add your new Project or Accomplishment') %>


  <% flash.each do |key, value| %>
    <%= content_tag :div, value, :class => "alert-box error flash #{key}" unless value.blank? %>
  <% end %>



<h1>New project</h1>

<div class="row">
  <div class="twelve columns">
    <%= render 'form' %>
  </div>
</div>
<%= link_to 'Back', projects_path %>
