/**
 * Foundation-based styles.
 * 
 * This top-level file handles the global overrides to
 * the Foundation base styles. @import'ed files override
 * or extend the styling for elements specific to the 
 * Portfolio Project.
 */
/**
 * SMACSS-style base.
 */
body {
  background: #cccccc url("http://subtlepatterns.com/patterns/square_bg.png");
  color: #222;
  /*  max-width: 940;*/
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  /* font-family: "minion-pro-1", "minion-pro-2", Georgia, serif; */
  margin-bottom: 55px;
}

h1, h2, h3 {
  color: #111;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-size: 36px;
}

h2 {
  height: 36px;
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

a {
  text-decoration: underline;
}

table {
  border: none;
}

tbody tr:nth-child(even) td, tbody tr.even td {
  background: #eee;
}

/**
 * SMACSS-style layout directives, layouts.scss
 */
.full_width > .page {
  width: 940px;
  margin: auto;
}

.alignLeft {
  float: left;
}

.alignRight {
  float: right;
}

.label {
  font-weight: 900;
  font-style: italic;
}

div.copy h3 {
  font-size: 22px;
}

div > span.label {
  padding: 25px 0px;
  font-weight: bold;
}

/**
 * Nav bar styling, nav.scss
 */
#topbar-asset {
  background: #222;
  /*  border-bottom: solid 4px #00a5ff;*/
  /*  padding: 15px 20px 13px 20px;*/
  padding-top: 20px;
  height: 40px;
  font-weight: 900;
}

#logo a {
  font-size: 2em;
  font-family: "lobster-1","lobster-2";
  text-decoration: none;
  color: #fff;
}

nav {
  color: #999;
  float: right;
  /*  margin: .8em 0 0 0;*/
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: 900;
}

/* Fool the eye into right alignment with
 * the main body of the page. 
 */
#member_nav {
  padding-right: 5px;
}

/**
 * Header styling, header.scss
 */
#header_area {
  background: white url(/assets/custom2/headerbg.png) bottom center repeat-x;
}

#header {
  padding: 2em 0 1.5em;
  height: 200px;
}

/**
 * Main content area, SMACSS-style.
 */
/**
 * Footer styling, footer.scss
 */
/**
 * Need to add a bottom marging to compensate for the
 * height of the footer. This is a fine place to use Sass.
 * http://ryanfait.com/sticky-footer/
 * http://ryanfait.com/resources/footer-stick-to-bottom-of-page/
 * http://matthewjamestaylor.com/blog/keeping-footers-at-the-bottom-of-the-page
 */
footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
}

footer > div.container {
  position: relative;
}

#footer_area {
  background-color: #222;
  color: #fff;
  padding: .5em 0;
  bottom: 0px;
}

/**
 * Override typography.css
 */
p.footer-text {
  margin-bottom: 9px;
  padding-top: 9px;
  font-size: 90%;
}

/**
 * Back in custom3.scss.
 */
/* For modern browsers */
.cf:before,
.cf:after {
  content: "";
  display: table;
}

.cf:after {
  clear: both;
}

#content {
  background: none repeat scroll 0 0 #FFFFFF;
  margin: -200px auto 20px;
  padding: .5em;
}

.contactform h2,
.sidebar h2 {
  font-family: "lobster-1","lobster-2";
}

#hero {
  text-align: center;
  border-bottom: 1px dotted #ccc;
  margin: 0 0 20px 0;
  padding: 0 0 2em 0;
}

.herostyle {
  border-bottom: 1px dotted #ccc;
  margin: 0 0 20px 0;
  padding: 0 0 2em 0;
}

.copy {
  margin: 1em;
  font-size: 120%;
}

.copy img {
  margin: 0 1em 1em 0;
  border: 3px solid #eee;
}

/** Profile Index **/
#profiles_display_block {
  width: 920px;
}

#profiles_display_block .profile_block {
  list-style: none;
  float: left;
  width: 25%;
  margin: 0 0 2em 0;
}

#profiles_display_block .profile_block .inner {
  position: relative;
  overflow: hidden;
  border: 1px solid #ccc;
  height: 200px;
  width: 200px;
}

.profile_info {
  background: rgba(255, 255, 255, 0.9);
  position: absolute;
  bottom: -38px;
  left: 0;
  padding: 0 0 .1em .5em;
  width: 200px;
  border-top: 1px solid #ccc;
}

.profile_info ul {
  margin: 0;
  padding: 0;
}

.profile_info li {
  list-style: none;
}

.profile_info .member_name {
  font-weight: 900;
  font-size: 14px;
}

/** Individual Profiles **/
.profile {
  padding: 0 1em;
}

.profile .profile_header {
  border-bottom: 1px solid #eee;
  margin: 0 0 2em 0;
}

.profile_name {
  float: left;
}

.profile_name h2 {
  font-size: 3em;
  margin: .5em 0 0 0;
}

.profile_gravatar {
  float: right;
}

.profile_gravatar img {
  border: 3px solid #eee;
}

.profile h3 {
  width: 180px;
  font-weight: 900;
}

.profile .inner {
  width: 700px;
  border-left: 1px dotted #ccc;
  padding: 0 0 0 1.4em;
  margin: 0 0 1em 0;
}

.social_links {
  margin: 0;
  padding: 5px 0 0 0;
}

.social_links li {
  float: left;
  list-style: none;
  margin-right: 1em;
}

.profile h2 {
  height: 54px;
  font-size: 36px;
}

.profile span.label {
  font-weight: 900;
  font-style: italic;
}

div.profile-listing h2 {
  margin-bottom: 9px;
  padding-top: 6px;
}

div.profile-listing p {
  text-indent: 10px;
  font-size: 14px;
  margin-bottom: 8px;
}

div.profile-listing span.label {
  font-weight: bold;
  font-style: italic;
}

div.profile_contact p {
  margin-bottom: 8px;
}

textarea#profile_bio {
  width: 350px;
  height: auto;
}

div.field input {
  width: 350px;
}

.row.project {
  padding: inherit 0px;
  background-color: #efefef;
}

.project {
  padding: 5px 0;
  margin: 10px 0px;
}

.project .listing {
  padding: 0 1em;
  margin: 0px;
}

.project h3 {
  width: 180px;
  font-weight: 900;
}

.project .gravatar {
  float: right;
  text-align: center;
}

.project .inner {
  width: 700px;
  border-left: 1px dotted #ccc;
  padding: 0 0 0 1.4em;
  margin: 0 0 1em 0;
}

/*
div.project {
  margin-top: 15px;
  padding-top: 10px;
}

div.project > div {
  margin: 15px;
}
*/
/**
 * Project pages
 */
/*
div > span.label {}
div.project {}
div.project > div {}
*/
/**
 * custom3/pages.scss which currently controls layout
 * on the front page sales modules. Probably needs
 * renaming in the future.
 */
.pages {
  background-color: #fff;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 7px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.offset-up {
  margin-top: -200px;
}

/**
 * custom3/google-buybox.scss
 */
.buybox {
  background-color: #f23;
  padding: 0px;
  margin: 10px;
}

.buybox p {
  margin: 0px 0 0 5px;
}

.buybox h3 {
  color: #000;
  font-family: arial, sans-serif;
  font-size: 13px;
  font-weight: bold;
  background-color: #2aa;
  border-style: solid;
  border-color: purple;
  border-top-width: 5px;
  border-bottom-width: 5px;
  border-width: 2px 0 2px 0;
  text-indent: 5px;
}

.signup {
  background-color: #fff;
  padding: 0px;
}

.signup h3 {
  background-color: #f1e4d8;
  border-color: #aa1002;
  padding: 0px;
}

.plans {
  background-color: #fff;
  padding: 0px;
}

.plans h3 {
  background-color: #fefade;
  border-color: #ddad08;
  padding: 0px;
}

.readmore {
  background-color: #fff;
  padding: 0px;
}

.readmore h3 {
  border-color: #396;
  background-color: #d8f1e4;
  padding: 0px;
}

div.field {
  margin-bottom: 20px;
}

form label {
  font-weight: bold;
  font-style: italic;
  margin-bottom: 2px;
}

.field > textarea {
  margin: 0px;
}

/* Somewhat kludgy */
div.date > select {
  display: inline;
}

time.start-date {
  color: #333;
}

time.end-date {
  color: #333;
}

form.edit_project {
  color: #f67;
  color: #000;
}

textarea#project_description {
  width: auto;
  height: auto;
}

textarea#project_summary {
  width: auto;
  height: auto;
}

textarea#project_requiredskills {
  width: auto;
  height: auto;
}

/**
 * custom3/sales.scss
 */
.row.ads {
  margin-bottom: 10px;
  margin-top: 10px;
}

.sponsor h4 {
  padding-top: 45px;
  font-size: 14px;
  color: #ddd;
}

.ads .solicitation {
  text-align: right;
}

.ads .solicitation a {
  text-decoration: none;
}

.sponsor-image img {
  padding-right: 10px;
}

.sponsor-message {
  font-size: 12px;
  color: #666;
}

.contact {
  list-style-type: disc;
  list-style-position: inside;
}
