/**
 *   Foundation styles
 */

body {
  background: #ccc url('http://subtlepatterns.com/patterns/square_bg.png');
  color: #f32;
}

#topbar-asset {
  background: #222;
  border-bottom: solid 4px #00a5ff;
  padding: 15px 20px 13px 20px; 
}

#logo a { 
  font-size: 2em;
  font-family: "lobster-1","lobster-2";
  text-decoration: none;
  color: #fff;
}

#footer_area {
  background-color: #222;
  color: #fff;
  padding: .5em 0;
  bottom: 0px;
}

.alignRight {
  float: right;
}
