/**
 * Foundation-based styles.
 * 
 * This top-level file handles the global overrides to
 * the Foundation base styles. @import'ed files override
 * or extend the styling for elements specific to the 
 * Portfolio Project.
 */

@import 'custom3/base';


div.copy h3 {
  font-size: 22px;
}

.full_width > .page {
  width: 940px; 
  margin: auto;
}

.alignLeft {
  float: left;
}

.alignRight {
  float: right;
}


.label {
  font-weight: 900;
  font-style: italic;
}



div > span.label {
  padding: 25px 0px;
  font-weight: bold;
}


/**
 * Everything past here should be imported.
 */

@import 'custom3/nav';
@import 'custom3/header';
/* @import 'custom3/main'; */
@import 'custom3/footer';


/* For modern browsers */
.cf:before,
.cf:after {
    content:"";
    display:table;
}

.cf:after {
    clear:both;
}



#content {
  background: none repeat scroll 0 0 #FFFFFF;
  margin: -200px auto 20px;
  padding: .5em;
}

div.frontpage { }

.contactform h2,
.sidebar h2 {
  font-family: "lobster-1","lobster-2";
}

#hero { 
  text-align: center;
  border-bottom: 1px dotted #ccc;
  margin: 0 0 20px 0;
  padding: 0 0 2em 0;
}

.copy {
  margin: 1em;
  font-size: 120%;
}

.copy img {
  margin: 0 1em 1em 0;
  border: 3px solid #eee;
}


@import 'custom3/profile';



div.field input {
  width: 350px;
}


@import 'custom3/project';

@import 'custom3/pages';
@import 'custom3/form';
@import 'custom3/project-form';

