
  <div class="row featured profiles">

    <div class="three columns sponsor">
      <h4>Sponsored foo Message</h4>
         <%= render :partial => 'profiles/gravatar', :locals => { :profile => Profile.find(1) } %>
      </div><!-- columns -->

    <div class="three columns sponsor">
      <h4>Sponsored Message</h4>
         <%= render :partial => 'profiles/gravatar', :locals => { :profile => Profile.find(2) } %>
    </div><!-- columns -->

    <div class="three columns sponsor">
      <h4>Sponsored Message</h4>
         <%= render :partial => 'profiles/gravatar', :locals => { :profile => Profile.find(2) } %>
    </div><!-- columns -->

    <div class="three columns sponsor">
      <h4>Sponsored Message</h4>
         <%= render :partial => 'profiles/gravatar', :locals => { :profile => Profile.find(2) } %>
    </div><!-- columns -->

  </div><!-- row -->
