.row
  .twelve.columns
    %h2 Featured Profiles
.row.featured.profiles
  - profiles = %w{ featured1 featured2 featured3 featured4 }
  - @featured_profiles.each do |p|
    .three.columns.sponsor
      %ul.cf
        = render :partial => 'profiles/gravatar', :locals => { :profile => p }
