

<div class="row featured profiles">
  <div class="three columns sponsor">
    <ul class="cf">
      <%= render :partial => 'profiles/gravatar', :locals => { :profile => Profile.find(1) } %>
    </ul>
  </div><!-- columns -->
  <div class="three columns sponsor">
    <ul class="cf">
      <%= render :partial => 'profiles/gravatar', :locals => { :profile => Profile.find(2) } %>
    </ul>
  </div><!-- columns -->
  <div class="three columns sponsor">
    <ul class="cf">
      <%= render :partial => 'profiles/gravatar', :locals => { :profile => Profile.find(2) } %>
    </ul>
  </div><!-- columns -->
  <div class="three columns sponsor">
    <ul class="cf">
      <%= render :partial => 'profiles/gravatar', :locals => { :profile => Profile.find(2) } %>
    </ul>
  </div><!-- columns -->
</div><!-- row -->
