
<h1>Your Professional Portfolio</h1>

  
  <div id="hero">
      <h2>A new, better way to show your work.</h2>
      <!-- img src="http://placehold.it/900x300" / -->
      <br />
      <br />
      <% if !member_signed_in? %>
        <span id="project_count"><%= pluralize(@projects.count, 'project') %> created so far.</span>
        <br />
        <br />
        <%= link_to "Build Your Portfolio", new_member_registration_path, :class => "cta cta-yellow" %>
      <% end %>
  </div>
