.row
  .twelve.columns.copy.herostyle
    .cf
      = image_tag('portfolio_140px.jpg', :class => 'alignLeft')
      %h3
        Your Portfolio: An
        %em Accomplishments First
        Resumé
      %p
        Let's face it: resumés are dead dead dead. Nobody cares about some stale list of jobs and degrees.
        It doesn't matter whether your resume is on paper, or
        online, it's just a special snowflake. Unique, like everyone else.
      %p
      %p
        People need to know
        %em exactly
        what you do, and how you can benefit them. What better way than
        to
        %em show them what you have already done.
        Talk is cheap. Instead of talking,
        = succeed "." do
          %strong show accomplishments first
    .cf
      = image_tag('stopwatch_140px.jpg', :class => 'alignLeft')
      %h3 Build Your Portfolio in Minutes
      %p
        Portfolios are easy to build... when you know exactly what to say... and that's where
        you win here. When you build your portfolio, you
        %em fill in the blanks
        to tell your
        story as it should be told.
      %p
        Even better, these blanks you're filling are actually search-engine friendly templates.
        We do the geeking out for Mr. Google, you reap the benefits.
    .cf
      = image_tag('hook_140px.jpg', :class => 'alignLeft')
      %h3 Your Portfolio Hooks Employers, Clients, Customers
      %p
        Employers need to know "What's in it for me?" and each project, campaign or case study
        tells employers exactly that. No more timelining, one job after another. In fact, if
        you're active in philanthropy, charity or any number of not-for-profit or extra-curricular
        avocations which have no place on your resume, Portfolio Project is the best place to
        showcase your hard work
