

<div class="container">
  <div class="row pages">

    <div class="four columns buybox">
      <%= render 'sales/buybox1' %>
    </div><!-- columns -->

    <div class="four columns buybox">
      <%= render 'sales/buybox2' %>
    </div><!-- columns -->

    <div class="four columns buybox">
      <%= render 'sales/buybox3' %>
    </div><!-- columns -->

  </div><!-- row -->
</div><!-- container -->

