.row.pages.google
  .four.columns.buybox
    = render 'sales/buybox1'
  / columns
  .four.columns.buybox
    = render 'sales/buybox2'
  / columns
  .four.columns.buybox
    = render 'sales/buybox3'
  / columns
/ row
