
<style type="text/css">
     #featured-personas { 
          width: 940px;
          height: 276px;
           background: #000 url(<%= image_tag('loading.gif')%> ) no-repeat center center; overflow: hidden;
     }
     #featured-personas img, #featured-personas div {
       display: block;
     }
</style>

<script type="text/javascript">
     $(window).load(function() {
         $('#featured-personas').orbit({
           advanceSpeed: 10000,
           timer: true,
           animationSpeed: 800,
           pauseOnHover: true,
           startClockOnMouseOut: false,   // if clock should start on MouseOut
           startClockOnMouseOutAfter: 1000,
         });
     });
</script>

<div class="row herostyle">
  <div class="twelve columns centered">

   <div id="featured-personas">

     <div class="row personas-content" style="background-color: #fff;">
       <div class="six columns offset-by-one copy" style="padding-left: 20px;">
         <h1>Irene - Social media consultant</h1>
         <h3 class="tagline">Design + Social media = Communication Design</h3>
         <p class="story">Irene is returning to the job market via freelancing
           as a designer and social media consultant. Her long term is to combine her
           freelancing experience with her MFA in Design to build a COmmunication
           Design agency.</p>
       </div>
       <div class="three columns image">
       <%= image_tag('irene_282px.jpg') %>
       </div>
     </div>

     <div class="row personas-content" style="background-color: #fff;">
       <div class="six columns offset-by-one copy" style="padding-left: 20px;">
         <h1>Tom - Project manager</h1>
         <h3 class="tagline">Transitioning from construction to IT infrastructure management</h3>
         <p class="story">Tom worked in commercial and light industrial construction
           for most of his career. Now, he is looking to use that experience as a
           springboard into managing information techonology infrastructure.
         </p>
       </div>
       <div class="three columns image">
       <%= image_tag('tom_cropped.jpg') %>
       </div>
     </div>

     <div class="row personas-content" style="background-color: #fff;">
       <div class="six columns offset-by-one copy" style="padding-left: 20px;">
         <h1>Jared - Graphic designer</h1>
         <h3 class="tagline">Leveraging design expertise for humanizing computer technology</h3>
         <p class="story">Jared was trained - and practiced - as an architect until
           the real estate and construction markets collapsed. Jared is leveraging
           his design skills to learn software and product development.</p>
       </div>
       <div class="three columns image">
       <%= image_tag('jared_cropped.jpg') %>
       </div>
     </div>

   </div>

  </div>
</div>


