
<div class="container">
  <div class="row ads">

    <div class="four columns sponsor">
      <h4>Sponsored Message</h4>
    </div><!-- columns -->

    <div class="five columns">
      <div class="sponsor-image">
      <%= image_tag('bpe_ecover_square_125x125.png', :class => 'alignLeft') %>
      </div>
      <div class="sponsor-message">
        <p><strong>Some bold text here.</strong><br />
          And more text, wish I had some asdf to
          help fill this out really fast.
        </p>
      </div>
    </div><!-- columns -->

    <div class="three columns sponsor">
      <h4>(tentative) BuySellAds</h4>
    </div><!-- columns -->

  </div><!-- row -->
</div><!-- container -->
