

<div class="row herostyle" id="signupfree" >

  <div class="seven columns">
    <div id="new-main-pitch-text">
      <h1>You are <strong><em>career exceptional</em></strong></h1>
      <p>
        You <em>get the job done</em>, and have the
        results to prove it.
      </p> 
      <p>
        You believe <em>specialization
        is for insects</em>, and your career demonstrates it.
      </p>
      <p>
        Above all, <em>you don't fit on a resume</em>.
      </p>
      <p>
        You need a <strong><em>Portfolio of Accomplishment</em></strong>.
      </p>
    </div>
  </div>


  <div class="five columns signupfree">
    <%= render 'sales/signupfreebox' %>
  </div>

</div>