.row.ads
  .three.columns.sponsor
    %h4 Sponsored Message
  / columns
  .five.columns
    .sponsor-image
      = link_to image_tag('thirstyaffiliates_ad_130_100.jpg', :class => 'alignLeft', :size => "130x100"), |
        'https://www.e-junkie.com/ecom/gb.php?cl=185140&c=ib&aff=63393'                                   |
    .sponsor-message
      %p
        %strong Thirsty Affiliates
        %br/
        The ThirstyAffiliates affiliate link management plugin for
        WordPress empowers you to quickly and easily manage your
        affiliate sales efforts.
  / columns
  .three.columns.sponsor
    .solicitation
      %a{:href => "/advertising"}
        %h4 Your Ad Here
  / columns
/ row
