
  <div class="row ads">

    <div class="three columns sponsor">
      <h4>Sponsored Message</h4>
    </div><!-- columns -->

    <div class="five columns">
      <div class="sponsor-image">
      <%= link_to image_tag('thirstyaffiliates_ad_130_100.jpg', :class => 'alignLeft', :size => "130x100"),
        'http://thirstyaffiliates.com/' %>
      </div>

      <div class="sponsor-message">
        <p><strong>Thirsty Affiliates</strong><br />
           The ThirstyAffiliates affiliate link management plugin for 
           WordPress empowers you to quickly and easily manage your
           affiliate sales efforts.
        </p>
      </div>

    </div><!-- columns -->

    <div class="three columns sponsor">
      <div class="solicitation">
        <a href="/advertising">
        <h4>Your Ad Here</h4>
        </a>
      </div>
    </div><!-- columns -->

  </div><!-- row -->
