
<% title('Advertising') %>

<h1>Buy Advertising on Portfolio Project</h1>


<p>Portfolio Project has a limited number of advertising slots available.
Each advertisement must be tasteful, understated, and of interest to
the Portfolio Project audience.
</p>

<p>For more information, please contact:
</p>

<ul class="contact">
  <li><a href="mailto://david.doolin@gmail.com">Dave Doolin</a></li>
  <li>Phone Dave Doolin at 510-334-4006</a></li>
</ul>    
