
<h1></h1>

<div class="frontpage">
  <div id="hero">
      <h1>A new, better way to show your work.</h1>
      <img src="http://placehold.it/900x300" />
      <br />
      <span id="project_count"><%= pluralize(@projects.count, 'Project') %> created so far.</span>
      <br />
      <%= link_to "Sign up", new_member_registration_path %>
  </div>

  <div class="copy">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ligula dui, condimentum quis posuere vel, placerat non lorem. Maecenas erat eros, congue ut dictum fringilla, mollis id nulla. Integer nunc quam, sollicitudin sit amet consequat posuere, malesuada consequat nibh. Aliquam iaculis nulla a lectus adipiscing vel tincidunt nunc volutpat. Fusce vitae diam ligula, in dignissim sem.

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ligula dui, condimentum quis posuere vel, placerat non lorem. Maecenas erat eros, congue ut dictum fringilla, mollis id nulla. Integer nunc quam, sollicitudin sit amet consequat posuere, malesuada consequat nibh. Aliquam iaculis nulla a lectus adipiscing vel tincidunt nunc volutpat. Fusce vitae diam ligula, in dignissim sem.

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ligula dui, condimentum quis posuere vel, placerat non lorem. Maecenas erat eros, congue ut dictum fringilla, mollis id nulla. Integer nunc quam, sollicitudin sit amet consequat posuere, malesuada consequat nibh. Aliquam iaculis nulla a lectus adipiscing vel tincidunt nunc volutpat. Fusce vitae diam ligula, in dignissim sem.
  </div>

</div>

<%= link_to "Sign up", new_member_registration_path %>, or 
check out the <%= link_to 'list of projects', projects_path %>
