
<h1>Your Professional Portfolio</h1>

<div class="frontpage">
  <div id="hero">
      <h2>A new, better way to show your work.</h2>
      <!-- img src="http://placehold.it/900x300" / -->
      <br />
      <br />
      <span id="project_count"><%= pluralize(@projects.count, 'project') %> created so far.</span>
      <br />
      <br />
      <%= link_to "Join the Portfolio Project", new_member_registration_path, :class => "cta cta-yellow" %>
  </div>

  <div class="copy">
    <div class="cf">
      <img src="/images/portfolio_140px.jpg" class="alignLeft" />
      <h3>Portfolio: Your Results First Resumé</h3>
       <p>Let's face it: resumés are dead dead dead. Nobody cares about some stale list of jobs and degrees.
         It doesn't matter whether your resume is on paper, or
         online, it's just a special snowflake. Unique, like everyone else.</p>
         <p>
       <p>People need to know <em>exactly</em> what you do, and how you can benefit them. What better way than
        to <em>show them what you have already done.</em> Talk is cheap. Instead of talking, 
        show people what you've done. <strong>Results first</strong></p>
     </div>

    <div class="cf">
      <img src="/images/stopwatch_140px.jpg" class="alignLeft" />
      <h3>Build Your Portfolio in Minutes</h3>
      <p>Portfolios are easy to build... when you know exactly what to say... and that's where
        you win here. When you build your portfolio, you <em>fill in the blanks</em> to tell your
        story as it should be told.</p>
        <p>Even better, these blanks you're filling are actually search-engine friendly templates.
          We do the geeking out for Mr. Google, you reap the benefits.</p>
      </div>

    <div class="cf">
      <img src="/images/hook_140px.jpg" class="alignLeft" />
      <h3>Portfolios Hook Employers, Clients, Customers</h3>
       <p>Employers need to know "What's in it for me?" and each project, campaign or case study
         tells employers exactly that. No more timelining, one job after another. In fact, if
         you're active in philanthropy, charity or any number of not-for-profit or extra-curricular
         avocations which have no place on your resume, Portfolio Project is the best place to 
         showcase your hard work</p>
    </div>
  </div>

</div>

<%= link_to "Sign up", new_member_registration_path %>, or 
check out the <%= link_to 'list of projects', projects_path %>
