
<h1></h1>

<div class="frontpage">
  <div id="hero">
      <h1>A new, better way to show your work.</h1>
      <img src="http://placehold.it/900x300" />
      <br />
      <br />
      <span id="project_count"><%= pluralize(@projects.count, 'project') %> created so far.</span>
      <br />
      <br />
      <%= link_to "Join the Portfolio Project", new_member_registration_path, :class => "cta cta-yellow" %>
  </div>

  <div class="copy">
    <div class="cf">
      <img src="http://placehold.it/140x140" class="alignLeft" />
      <h3>Results First Resumé</h3>
       <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ligula dui, condimentum quis posuere vel, placerat non lorem. Maecenas erat eros, congue ut dictum fringilla, mollis id nulla. Integer nunc quam, sollicitudin sit amet consequat posuere, malesuada consequat nibh. Aliquam iaculis nulla a lectus adipiscing vel tincidunt nunc volutpat. Fusce vitae diam ligula, in dignissim sem.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ligula dui, condimentum quis posuere vel, placerat non lorem. Maecenas erat eros, congue ut dictum fringilla, mollis id nulla. Integer nunc quam, sollicitudin sit amet consequat posuere, malesuada consequat nibh. Aliquam iaculis nulla a lectus adipiscing vel tincidunt nunc volutpat. Fusce vitae diam ligula, in
    </div>

    <div class="cf">
      <img src="http://placehold.it/140x140" class="alignLeft" />
      <h3>Build Your Portfolio in Minutes</h3>
      <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ligula dui, condimentum quis posuere vel, placerat non lorem. Maecenas erat eros, congue ut dictum fringilla, mollis id nulla. Integer nunc quam, sollicitudin sit amet consequat posuere, malesuada consequat nibh. Aliquam iaculis nulla a lectus adipiscing vel tincidunt nunc volutpat. Fusce vitae diam ligula, in dignissim sem.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ligula dui, condimentum quis posuere vel, placerat non lorem. Maecenas erat eros, congue ut dictum fringilla, mollis id nulla. Integer nunc quam, sollicitudin sit amet consequat posuere, malesuada consequat nibh. Aliquam iaculis nulla a lectus adipiscing vel tincidunt nunc volutpat. Fusce vitae diam ligula, in
      </div>

    <div class="cf">
      <img src="http://placehold.it/140x140" class="alignLeft" />
      <h3>Hook Potential Employers</h3>
       <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ligula dui, condimentum quis posuere vel, placerat non lorem. Maecenas erat eros, congue ut dictum fringilla, mollis id nulla. Integer nunc quam, sollicitudin sit amet consequat posuere, malesuada consequat nibh. Aliquam iaculis nulla a lectus adipiscing vel tincidunt nunc volutpat. Fusce vitae diam ligula, in dignissim sem.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ligula dui, condimentum quis posuere vel, placerat non lorem. Maecenas erat eros, congue ut dictum fringilla, mollis id nulla. Integer nunc quam, sollicitudin sit amet consequat posuere, malesuada consequat nibh. Aliquam iaculis nulla a lectus adipiscing vel tincidunt nunc volutpat. Fusce vitae diam ligula, in
    </div>
  </div>

</div>

<%= link_to "Sign up", new_member_registration_path %>, or 
check out the <%= link_to 'list of projects', projects_path %>
