
<h2>Projects are how we work</h2>

<div class="frontpage">
<p>
Resumes are dead. People don't care about some stale list of jobs and 
degrees.
</p>

<p>
	These days, people want to know: <em>What can you do?</em>
</p>

<p> 
	Talk is cheap. Instead of talking, show people what you've done.
</p>


<p>
      <%= link_to "Sign up", new_member_registration_path %>, or 
      check out the <%= link_to 'list of projects', projects_path %> 
</p>

</div>
