
  <div id="content_area" class="full_width">
    <div class="page">
      <div id="content" class="cf">
        <%=
        #render 'layouts/flash'
        %>
        <%= yield %>
      </div>
    </div>
  </div>
