
<% if flash[:error] %>
  <div class="alert-box error"><%= flash[:error] %></div>
<% end %>

<% if flash[:warning] %>
  <div class="alert-box warning"><%= flash[:notice] %></div>
<% end %>

<% if flash[:alert] %>
  <div class="alert-box"><%= flash[:alert] %></div>
<% end %>

<% if flash[:success] %>
  <div class="alert-box success"><%= flash[:success] %></div>
<% end %>
