<footer id="footer_area" class="full_width">
  <div class="page">
    <div id="footer">
      <p class="alignRight">
         <em>Your projects are Copyright &copy; <ins>You</ins>,  All Your Rights Reserved</em> |
         <%= link_to "Contact", '/contact' %> |
         <%= link_to "Privacy", '/privacy' %> |
         <%= link_to "Terms & Conditions", '/terms' %> |
         <%= link_to "About", '/about' %>
       </p>

    </div>
  </div>
</footer>
