
<footer class="span-18 last">

<div>
  Copyright &copy; 2010-2011 <a href="http://contactdaviddoolin.com">David M. Doolin</a>
  All Rights Reserved |
  <%= link_to "Contact", '/pages/contact' %> |
  <%= link_to "Privacy", '/pages/privacy' %> |
  <%= link_to "Terms & Conditions", '/pages/terms' %> |
  <%= link_to "About", '/pages/about' %>
</div>

</footer>
