
<footer class="span-18 last">

<div>
  Copyright &copy; 2010-2011 <a href="http://contactdaviddoolin.com">David M. Doolin</a>
  All Rights Reserved |
  <%= link_to "Contact", '/contact' %> |
  <%= link_to "Privacy", '/privacy' %> |
  <%= link_to "Terms & Conditions", '/terms' %> |
  <%= link_to "About", '/about' %>
</div>

</footer>
