
<h2>Members</h2>

<table class="profile">
  <tr>
    <td class="main">
      <% unless @members.empty? %>
        <table class="projects" summary="Members">
          <tr>
            <th>Member name</th>
            <th>Member since</th>
            <th>Number of projects</th>
          </tr>
          <%= render @members %>
        </table>
      <% end %>
    </td>
  </tr>
</table
