

<table class="profile">
  <tr>
    <td class="main">
      <% unless @member.projects.empty? %>
        <table class="projects" summary="Member projects">
          <tr>
            <th>Project name</th>
            <th>Summary</th>
            <th>Description</th>
            <th>Client</th>
            <th>Tags</th>  
           </tr>
           <%= render @projects %>
         </table>
      <% end %>
    </td>
    <td class="sidebar round">
      <strong>Name</strong> <%= @member.membername %><br />
      <strong>URL</strong> <%= link_to member_path(@member), @member %><br />
      <strong>Projects</strong> <%= @member.projects.count %>
    </td>
  </tr>
</table>
